@charset "utf-8";
/**
 * WEB Markup Guide Templete Resources
 * @license MIT License
 * @version 1.0.0
 * @copyright Y-KaNo LABs | https://bitbucket.org/Y-KaNoLABs/markup-guide-templete/
 * @author Shawna Choi
 * @update 2018-08-08
 */

#guide-wrap{padding:20px;}

#guide-header{position:relative;height:50px;line-height:50px;background-color:#000;padding:0 20px;}
#guide-header>*{font-size:14px;font-weight:200;color:#fff;}
#guide-header h1{float:left;line-height:50px !important;}
#guide-header .btn-nav-view{display:none;float:right;border:1px solid #fff;font-size:20px;text-align:center;width:30px;height:30px;margin-top:10px;color:#fff;vertical-align:top;border-radius:5px;line-height:30px;}
#guide-header .hd-nav{float:right;}
#guide-header .hd-nav li{display:inline-block;/*border-left:1px dotted #fff;*/}
#guide-header .hd-nav li a{display:block;padding:0 10px;font-weight:200;color:#fff;}
#guide-header .hd-nav li a:hover,
#guide-header .hd-nav li.on a{color:#67ddff;text-decoration:underline;}
.copyright{padding:50px 0;border:1px solid #eee;text-align:center;color:#000;}
.copyright::before{content:' ';display:inline-block;width:20px;height:1px;margin-bottom:20px;background-color:#555;}

.guide-sec > fieldset{margin-bottom:20px;border:1px solid #ccc;border-radius:5px;}
.guide-sec fieldset.field-view{}
.guide-sec fieldset.field-code{background-color:#fafafa;}
.guide-sec legend{width:auto;height:auto;visibility:visible;display:inline;margin-top:0;margin-left:10px;z-index:1;font-size:14px;line-height:1.5;text-indent:0;}

h1.guide-h1{margin-bottom:30px;padding-bottom:5px;border-bottom:1px inset #000;font-size:30px;font-weight:600;}
div.guide-h1{position:relative;margin-bottom:30px;border-bottom:1px inset #000;}
div.guide-h1 h1{padding-bottom:5px;font-size:30px;font-weight:600;}
div.guide-h1.fix-top{position:fixed;top:0;z-index:100;background-color:rgba(255,255,255,.95);left:0;width:100%;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
div.guide-h1.fix-top .btn-view-list{right:20px;}
div.guide-h1.fix-top h1{padding:5px 20px;}
h2.guide-h2{margin-bottom:10px;font-size:23px;font-weight:500;}
h3.guide-h3{margin-bottom:10px;font-size:18px;font-weight:500;}

.page-list{display:none;border:1px solid #000;padding:10px;border-bottom:0;background-color:rgba(200,200,200,.1);}
.page-list.on{display:block;}
.page-list li{padding:3px 0;list-style:decimal-leading-zero inside;}
.btn-view-list{display:inline-block;position:absolute;bottom:0;right:0;width:100px;padding:5px 0;background-color:#000;color:#fff !important;text-align:center;font-size:11px;}
.btn-view-list::after{content:' 보기'}
.btn-view-list.on::after{content:' 닫기'}

.type{display:block;clear:both;font-size:16px;color:#05245f;font-style:italic}
.type-eg{display:block;clear:both;font-size:14px;color:#05245f;}
.type-eg::before{content:'e.g) ';color:#007fc1;font-style:italic;}
a.type-eg{text-decoration:underline !important;}

div.summary, ul.summary, p.summary{background-color:#f9f9f9;border:1px solid #ccc;padding:10px;}
div.summary ul li, ul.summary li, p.summary{margin-top:5px;padding-left:9px;background:url(../images/bg-list-dot.gif)no-repeat 3px 11px;background-size:2px;line-height:1.7;font-weight:400;font-size:14px;}
p.summary:first-child,
ul.summary li:first-child{margin-top:0;}

.guide-sec fieldset.field-view .view{overflow:hidden;padding:10px;}
.field-code .view .codes *{font-family:'돋움',Dotum !important;}
.field-code .view .codes{padding:5px 0 5px 40px;}
.field-code .view li{padding:0 .5em;border-left:2px solid #6ce26c;list-style:decimal-leading-zero outside none;}
.field-code .view li.dbg{background-color:rgba(255,255,255,.8);}

.hr{margin:25px 0;}


@media all and (max-width: 1024px) {
	#guide-header .btn-nav-view{display:inline-block;}
	#guide-header .hd-nav{display:none;position:absolute;top:100%;right:10px;width:50%;border:1px solid rgba(0,0,0,.7);z-index:10;background-color:#fff;text-align:right;}
	#guide-header .on{display:block;}
	#guide-header .hd-nav li {float:none;display:block;clear:both;border-bottom:1px dotted #000;}
	#guide-header .hd-nav li a{color:#000;}
	.page-list{border:0;border-bottom:1x solid #000;}
}




/**/
.static-wrap .ico-play{position:static !important;}


.guide-wrap{width:1200px;}