@charset "utf-8";

/* defualt */ 
html,body{width:100%;height:100%;} 
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,form,fieldset,p,button{margin:0;padding:0;} 
body,h1,h2,h3,h4,input,button{font-family:dotum,'돋움';font-size:12px;font-weight:normal;} 
img,fieldset,iframe{border:0 none;} 
li{list-style:none;} 
input,select,button{vertical-align:middle;} 
img{vertical-align:top;} 
i,em,address{font-style:normal;} 
label,button{cursor:pointer;} 
hr{display:none;} 
a{text-decoration:none;} 
a:hover{text-decoration:underline;} 
